#customers{
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
  
}

#customers td, #customers th{
  border: 1px solid #A1A1A6;
  padding: 8px;
}

#customers th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9C78BF;
  color:#F2F2F2;
}

#customers tr:hover{
  background-color: #A1A1A6 !important;
}

#customers tr:nth-child(even){
  background-color: #4982A6;
}

